
/*fichier index.html*/
.bandeau_haut{
    background-color: #5d8cb0;
    padding: 1%;
    color: white;
}

/*Connexion sur index.html*/

.simple-login-container{
    width:25%;
    max-width:100%;
    margin:8% auto;
}
.simple-login-container h2{
    text-align:center;
    font-size:20px;
}
 
.simple-login-container .btnn_connexion{
    background-color:#5d8cb0;
    font-size: 18px;
    border: none;
    color:white;
    text-align: center;
    text-decoration: none;
    border-radius: 0.5rem;
    padding: 2%;
    display: inline-block;
    width: 100%;
}

a{
    color:#fff;
}
 
.form-group2{
    background-color:#5d8cb0;
    font-size: 18px;
    border: none;
    color: black;
    padding: 10px;
    padding-bottom: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px 2px;
    border-radius: 0.5rem;
}

/*.btnn_connexion{
    background-color:#5d8cb0;
    font-size: 18px;
    border: none;
    color:white;
    text-align: center;
    text-decoration: none;
    border-radius: 0.5rem;
    padding: 5%;
    display: inline-block;
    
}*/
.container
{
    background-color: indianred;
}

/*Sur menu.html*/
/*pour ENTETE*/
.message_user_connexion
{
    margin-top: 2%;
    text-align: left;
}

.groupe_de_boutons{
    margin-top: 2%;
    text-align: left;
}

.bouton_1{
    background-color: #1665a1;
    border: none;
    padding: 5% 10% 2% 10%;
}
.bouton_1:hover{
background-color: #b0b3b5 ;
}

.bouton_2{
    background-color: #3f759e;
    border: none;
    padding: 5% 10% 2% 10%;
}
.bouton_2:hover{
    background-color: #b0b3b5 ;
    }

.bouton_3{
   background-color:#569cd1;
   border: none;
   padding: 5% 10% 2% 10%;
}
.bouton_3:hover{
    background-color: #b0b3b5 ;
    }


/*sur new_exo.html*/
/*pour le groupe de boutons menu*/

.cordon{ /*NEW EXO*/
    padding-left: 15%;

}

/*page new_exo.html*/
/*formulaire et tableau*/

.champs1
{
background-color:white ;
padding-top: 15px;
color: #1665a1;
}

.simple-login-container2{
    width:300px;
    max-width:100%;
    margin:50px auto;
}
.simple-login-container h2{
    text-align:center;
    font-size:20px;
}
 
.simple-login-container2 .btn-login2{
    background-color:#1665a1;
    color:#fff;
}

 
@media ( min-width: 768px ) {
    .grid-divider {
        position: relative;
        padding: 0;
    }
    .grid-divider>[class*='col-'] {
        position: static;
    }
    /*.grid-divider>[class*='col-']:nth-child(n+2):before {
        content: "";
        border-left: 1px solid #2dc7cc;
        position: absolute;
        top: 0;
        bottom: 15px;
    }*/
    .col-padding {
        padding: 0 15px 15px;
    }
}
 
.tableauxajouterexo{
    border-collapse: collapse;
    min-width: 1200px;
   /* width: auto;*/
    
   
    /*cursor: pointer;*/
   margin: 2% 15%;
    border: 2px solid gray;
}


/* Bilan Professeur */

.textexo {
    padding-top: 5%;
    padding-left: 10%;
	word-spacing: 15px; 
    color: #706c6c;
    padding-bottom: 10%;

}

tr, td
{
border: 1px solid black;

border-collapse: collapse;

padding: 50px;
}

.ligne1{

    background-color:#b2cad4;
    color:black;
}

/*page pied_page.php*/
/*image pied de page*/

.image_pied
{
    width: 100%;
}